.save-to-readmoo-hint {
  display: block;
  position: fixed;
  box-sizing: border-box;
  top: -3rem;
  text-align: center;
  left: 0;
  right: 0;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  transition: top .3s;
}

.save-to-readmoo-hint.show {
  top: 0;
}
